body {
  background-color: #e5dfdf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  padding-left: 8px;
  font-size:  75px;
  margin: 350px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #393e46;

}

h3 {
  padding-left: 8px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #00adb5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #393e46;
  font-size: 20px
}

.velociraptor {
  max-width: 200px;
}

.trex {
  max-width: 200px;
}

.trike {
  max-width: 200px;
}

.fish {
  max-width: 200px;
}

.top-cloud {
  position:relative;
  right: 166px;
  top: 350px;
}

.bottom-cloud {
  position: relative;
  bottom: 400px;
  left: 575px;

}

.bottom-cloud2 {
  position: fixed;
  right: 75px;
  top: 45px;

}
.mynav {
  text-decoration: none;

}

.mynav:hover {
  text-decoration: underline;
}
.topContainer {
  background-color: #e5dfdf;
  position: relative;
  padding-top: 100px;
  margin-bottom: 20px;

}

.middle-container {
  background-color: #e5dfdf;
  padding: 100px 100px;
}

.bottom-container {
  background-color: #e5dfdf;

}

.navigation {
  position: fixed;
  right: 75px;
  top: 60px;
  font-size: 60px;
  color:
}

#mountain {
  margin: 0 100px auto  auto;

}
